{%extends 'all-photos/base.html'%} {% block content %}{{ block.super}}



<div class="container">

    <!-- Looping through news   -->
    {% for photo in photos %}

    <div class="row">
        <!-- displaying the name of the Image-->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h2 class="text-center"> {{ photo.Img_name }} </h2>
        </div>

        <!--Display images  -->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img src="{{photo.image.url}}" class="img-responsive" alt="Image" data-toggle="modal" data-target="#photo_detail_{{ photo.id }}">
            <p>http://127.0.0.1:5000{{photo.image.url}}</p>
        </div>

        <div class="modal fade" id="photo_detail_{{ photo.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{ photo.Img_name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ photo.Img_description }}
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="row">
            <h2 class="text-center">There is no photo item</h2>
        </div>

        {% endfor %}
    </div>

    {% endblock %}